<section id="banner">
  <div class="container">
    <div class="row">
      <br>
      <div class="jumbotron jumbotron-fluid">
        <!-- <h1 class="display-4">Citations : </h1> -->
        <p class="lead">Prions pour la paix dans le monde et le respect de nos différences.</p>
        <hr class="my-4">
        <p>On aimerait que notre oeuvre contribue à la lutte pour la paix et la liberté . </p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Notre page facebook</a>

      </div>
    </div>
  </div>
</section>
<div id="page-contents">
  <div class="container">
    <div class="row">

      <!-- Newsfeed Common Side Bar Left
        ================================================= -->
      <div class="col-md-1 static">

      </div>
      <div class="col-md-7 static">

        <div id="newsfeed" class="post-content text-justify">

          <!-- <h4><%= fa_icon "newspaper-o" %> Actualités</h4> -->
          <div id="activities">
            <% if @activities.empty? %>
            <div class="well">
              <%= render('shared/no_resource', resources: 'Activities') %>
            </div>
            <% else %>
            <%= render_activities(@activities, layout: '/shared/activity') %>
            <% end %>
          </div>
          <%= render 'shared/paginate', resources: @activities %>


        </div>
        <div class="post-content text-justify">
          <img src="/images/bg/image_33.jpg" alt="post-image" class="img-responsive post-image" />
          <div class="post-container">
            <img src="/images/users/user-5.jpg" alt="user" class="profile-photo-md pull-left" />
            <div class="post-detail">
              <div class="user-info">
                <h5><a href="timeline.html" class="profile-link">Tina Rabe</a> <span class="following">suiveur</span></h5>
                <p class="text-muted">A publier la photo il y a 3 minutes </p>
              </div>
              <div class="reaction">
                <a class="btn text-green"><i class="icon ion-thumbsup"></i> 50</a>
                <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>
              </div>
              <div class="line-divider"></div>
              <div class="post-text">
                <p>
                  Titre : Aide et assistance aux enfants des rues <br>
                  Association : Les enfants du soleil <br>
                  Projet : Les éducateurs de l’association vont à la rencontre des enfants des rues, à la nuit tombée.
                  Ils engagent la conversation avec eux et leur proposent de venir passer la nuit dans un centre
                  d’accueil et d’écoute (CAE) des Enfants du Soleil. Dans ce centre ils auront la possibilité de se
                  laver, de prendre un repas, de jouer avec d’autres enfants et de dormir en sécurité. Certains
                  reviendront tous les soirs, d’autres pas. Les éducateurs tenteront de savoir qui sont leurs parents
                  et après quelques mois ils essaieront de réinsérer ces enfants dans leur famille.Notre association
                  apportera à la famille une aide alimentaire, le paiement de la scolarité, le suivi médical et
                  psychologique. Un suivi et contrôle sera effectué régulièrement pour s’assurer que l’enfant est bien
                  présent à ‘école et que sa famille ne le renvoie pas à la rue.
                  <br>
                  Don minimum : 750euros</p>
              </div>
              <div class="line-divider"></div>
              <div class="post-comment">
                <img src="/images/users/user-15.jpg" alt="" class="profile-photo-sm" />
                <p><a href="timeline.html" class="profile-link">Diana </a><i class="em em-laughing"></i>
                  ça m'intéresse beacoup je participe! :) </p>
                  
              </div>

              <div class="post-comment">
                <!-- <img src="/images/users/user-1.jpg" alt="" class="profile-photo-sm" /> -->
                
                <input type="text" class="form-control" placeholder="Poster un commentaire">
              </div>
            </div>
          </div>
        </div>

        <!-- video
        ================================================= -->
        <!-- <div class="post-content text-justify">
          <div class="video-wrapper">
            <video class="post-video" controls> <source src="videos/8.mp4" type="video/mp4"> </video>
          </div>
          <div class="post-container">
            <img src="/images/users/user-3.jpg" alt="user" class="profile-photo-md pull-left" />
            <div class="post-detail">
              <div class="user-info">
                <h5><a href="timeline.html" class="profile-link">Sophia Lee</a> <span class="following">suiveur</span></h5>
                <p class="text-muted">Updated her status about 33 mins ago</p>
              </div>
              <div class="reaction">
                <a class="btn text-green"><i class="icon ion-thumbsup"></i> 75</a>
                <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 8</a>
              </div>
              <div class="line-divider"></div>
              <div class="post-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              </div>
              <div class="line-divider"></div>
               <div class="post-comment">
                <img src="/images/users/user-14.jpg" alt="" class="profile-photo-sm" />
                <p><a href="timeline.html" class="profile-link">Olivia </a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <i class="em em-anguished"></i> Ut enim ad minim veniam, quis nostrud </p>
              </div>
              <div class="post-comment">
                <img src="/images/users/user-1.jpg" alt="" class="profile-photo-sm" />
                <p><a href="timeline.html" class="profile-link">Sarah</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              </div>
              <div class="post-comment">
                <img src="/images/users/user-2.jpg" alt="" class="profile-photo-sm" />
                <p><a href="timeline.html" class="profile-link">Linda</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
              <div class="post-comment">
                <img src="/images/users/user-1.jpg" alt="" class="profile-photo-sm" />
                <input type="text" class="form-control" placeholder="Post a comment">
              </div>
            </div>
          </div>
        </div> -->

        <!-- Post Content
        ================================================= -->
        <div class="post-content text-justify">
          <img src="/images/post/ete.jpg" alt="post-image" class="img-responsive post-image" />
          <div class="post-container">
            <img src="/images/users/user-16.jpg" alt="user" class="profile-photo-md pull-left" />
            <div class="post-detail">
              <div class="user-info">
                <h5><a href="timeline.html" class="profile-link">Melanie Parany</a> <span class="following">suiveur</span></h5>
                <p class="text-muted">A publier la photo il y a 1 jour et 2 heures</p>
              </div>
              <div class="reaction">
                <a class="btn text-green"><i class="icon ion-thumbsup"></i> 40</a>
                <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>
              </div>
              <div class="line-divider"></div>
              <div class="post-text">
                <p>
                  Titre : Un été pour les enfants de Madagascar <br>
                  Association : Manohisoa <br>
                  Projet : Les enfants d’Antanifotsy ne connaissent pas, durant leurs grandes vacances, d’autres
                  activités que celles agricoles de leurs parents. L’association nous a donc fait part de sa volonté de
                  leur faire découvrir une autre forme de joie et de partage.
                  Il s’agit pour nous d’accueillir une trentaine d’enfants par semaine âgés de 6 à 13 ans pour qui nous
                  allons organiser des journées autour d'un imaginaire alternant travaux manuels, musique, grands jeux
                  sportifs et lecture.
                  Notre motivation est essentiellement de leur transmettre ce que nous savons et de leur faire vivre ce
                  qui nous a profondément marqué dans nos années de scoutisme en France.
                  Ce sera aussi l’occasion pour nous de rencontrer les scouts malgaches locaux, avec qui nous allons
                  coopérer pour mener à bien ces journées d’activités. 
                  En partenariat avec l'association nous allons apporter des livres pour enrichir leur bibliothèque.
                  <br>
                  Don minimum : 1500euros</p>
              </div>
              <div class="line-divider"></div>
              <div class="post-comment">
                <img src="/images/users/user-17.jpg" alt="" class="profile-photo-sm" />
                <p><a href="timeline.html" class="profile-link">Jenny MCfee </a><i class="em em-laughing"></i>
                  Pray for Mada !!!!!</p>
              </div>

              <div class="post-comment">
                <!-- <img src="/images/users/user-1.jpg" alt="" class="profile-photo-sm" /> -->
                <input type="text" class="form-control" placeholder="Poster un commentaire">
              </div>
            </div>
          </div>
        </div>
        <div class="post-content text-justify">
          <img src="/images/post/rohngya.jpg" alt="post-image" class="img-responsive post-image" />
          <div class="post-container">
            <img src="/images/users/user-3.jpg" alt="user" class="profile-photo-md pull-left" />
            <div class="post-detail">
              <div class="user-info">
                <h5><a href="timeline.html" class="profile-link">Yves John</a> <span class="following">suiveur</span></h5>
                <p class="text-muted">A publier la photo il y a 2 Jours </p>
              </div>
              <div class="reaction">
                <a class="btn text-green"><i class="icon ion-thumbsup"></i> 200</a>
                <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>
              </div>
              <div class="line-divider"></div>
              <div class="post-text">
                <p>
                  Titre : Crise des Rohingyas <br>
                  Association : KAHEM <br>
                  Projet : Cette collecte de fonds nous permettra d'assumer les coûts du voyage entre le Québec et le
                  camp de réfugiés Kutupalong, à Chittagong, au Bangladesh. Par coûts de voyage, nous entendons ici les
                  billets d'avion, l'hébergement et les déplacements sur place, le strict minimum.
                  Cette collecte nous permettra également de rémunérer notre fixer local, celui-là même avec qui j'ai
                  travaillé en janvier et en février dernier. C'est lui qui nous donnera accès au camp et qui nous
                  permettra d'y réaliser à la fois le photo-reportage et le court-métrage. Olivier et moi fourniront
                  respectivement le matériel nécessaire à la réalisation du photo-reportage et du court-métrage. <br>
                  Don minimum : 5500euros</p>
              </div>
              <div class="line-divider"></div>
              <div class="post-comment">
                <img src="/images/users/user-1.jpg" alt="" class="profile-photo-sm" />
                <p><a href="timeline.html" class="profile-link">Liantsoa</a><i class="em em-laughing"></i>
                  Courage, nous somme avec vous</p>
              </div>

              <div class="post-comment">
                <!-- <img src="/images/users/user-1.jpg" alt="" class="profile-photo-sm" /> -->
                <input type="text" class="form-control" placeholder="Poster un commentaire">
              </div>
            </div>
          </div>
        </div>
        <div class="post-content text-justify">
          <img src="/images/post/senegal.jpg" alt="post-image" class="img-responsive post-image" />
          <div class="post-container">
            <img src="/images/users/user-10.jpg" alt="user" class="profile-photo-md pull-left" />
            <div class="post-detail">
              <div class="user-info">
                <h5><a href="timeline.html" class="profile-link">Rosalie Belier</a> <span class="following">suiveur</span></h5>
                <p class="text-muted">A publier la photo il y a 3 jour </p>
              </div>
              <div class="reaction">
                <a class="btn text-green"><i class="icon ion-thumbsup"></i> 15</a>
                <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>
              </div>
              <div class="line-divider"></div>
              <div class="post-text">
                <p>
                  Titre : Une école pour grandir au Sénégal<br>
                  Association : Pour Grandir<br>
                  Projet :
                  - la construction d'une salle de classe, en béton (environ 25 m2)
                  A ce projet de construction du bâtiment, fin 2016, s'ajoute la nécessité d'acheter le mobilier de
                  base (tables, chaises, tableau noir, ventilateur...)
                  Cette somme récoltée ici viendra compléter la somme récoltée lors de la soirée-spectacle organisée
                  Vendredi 13 Mai 2016, à l'Espace François Mitterrand, à Bully-les-Mines (62), au profit de plusieurs
                  écoles primaires.
                  Trois villages supplémentaires nous ont sollicité depuis 2ans, et nous aimerions élargir le soutien.
                  Les besoins concernent essentiellement:
                  - les fournitures scolaires (cahiers, stylos...),
                  - du matériel pédagogique pour les enseignants
                  - les blouses
                  - du matériel d'éveil et/ou sportif
                  Tout l'argent perçu au delà de 2000 euros sera utilisé pour soutenir les écoliers d'autres villages.
                  <br>
                  Don minimum : 750euros</p>
              </div>
              <div class="line-divider"></div>
              <!-- <div class="post-comment">
                  <img src="/images/users/user-20.jpg" alt="" class="profile-photo-sm" />
                  <p><a href="timeline.html" class="profile-link">Manouella </a><i class="em em-laughing"></i> 
                   ça m'intéresse beacoup je participe! :) </p>
                </div>
                 -->
              <div class="post-comment">
                <!-- <img src="/images/users/user-1.jpg" alt="" class="profile-photo-sm" /> -->
                <input type="text" class="form-control" placeholder="Poster un commentaire">
              </div>
            </div>
          </div>
        </div>
        <div class="post-content text-justify">
          <img src="/images/post/shanti.png" alt="post-image" class="img-responsive post-image" />
          <div class="post-container">
            <img src="/images/users/user-4.jpg" alt="user" class="profile-photo-md pull-left" />
            <div class="post-detail">
              <div class="user-info">
                <h5><a href="timeline.html" class="profile-link">Razit Patel</a> <span class="following">suiveur</span></h5>
                <p class="text-muted">A publier la photo il y a 3 jours 4 heures </p>
              </div>
              <div class="reaction">
                <a class="btn text-green"><i class="icon ion-thumbsup"></i> 20</a>
                <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>
              </div>
              <div class="line-divider"></div>
              <div class="post-text">
                <p>
                  Titre : Ensemble pour les enfants de Shanti<br>
                  Association : Les enfants de Shanti<br>
                  Projet :
                  Durant 2 semaines je travaillerai en collaboration avec les bénévoles en apportant mon expérience de
                  photographe et mes connaissances en informatique pour sensibiliser et valoriser ces personnes à
                  travers :
                  • Un reportage au plus près des enfants et familles
                  • Une exposition sera également prévue dès mon retour en France.
                  • Aller à la découverte de famille locale
                  Ces reportages serviront avant tout de support de communication à l'association.
                  J'ai toujours aimé le contact humain, c'est donc pour cela que j'aimerais me sentir utile dans ses
                  activités... Cette expérience ne peut qu'être enrichissante, à tous et dans tous les domaines. <br>
                  Don minimum : 750euros</p>
              </div>
              <div class="line-divider"></div>
              <div class="post-comment">
                <img src="/images/users/user-12.jpg" alt="" class="profile-photo-sm" />
                <p><a href="timeline.html" class="profile-link">Michael Chris</a><i class="em em-laughing"></i>
                 Very interessting, i'm in!!! </p>
              </div>

              <div class="post-comment">
                <!-- <img src="/images/users/user-1.jpg" alt="" class="profile-photo-sm" /> -->
                <input type="text" class="form-control" placeholder="Poster un commentaire">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Newsfeed Common Side Bar Right
        ================================================= -->
      <%= render 'shared/disqus'%>
    </div>
  </div>



</div>