<div class="post-content well">
  <% if post.user %>
  <div class="post-text">
    <div class="container"></div>
    <h4 class="text-justify" style="color:darkslategrey">
    <span class="text">
      <%= post.content_html %></span>
    </h4>
    <% if post.attachment.present? %>
    <div class="attachment">
      <%= image_tag post.attachment ,class: "img-responsive post-image" %>
    </div>
    <% end %>
    <%= render 'shared/created_at', activity: post %>
    <div class="points">
      <span class="like-count">
        <%= pluralize(post.cached_votes_up, 'like') %></span>
      <span class="comments-count">
        <%= pluralize(post.comments_count, 'comment') %></span>
      <div class="pull-right">
        <% if belongs_to_user?(post) %>
        <%= link_to edit_post_path(post), class: 'btn btn-primary btn-sm' do %>
        <% fa_icon 'pencil' %>
        <% end %>
        <%= link_to post_path(post), method: :delete, class:'btn btn-danger btn-sm', remote: remote do %>
        <% fa_icon 'trash' %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="post-container">
    <div class="row">
      <div class="col-md-1">
      <%= render 'shared/avatar', user: post.user , class:"profile-photo-md pull-left"%>
    </div>
    <div class="col-md-11">
      <div class="post-detail">
        <div class="user-info">

          <h5 class="profile-link">
            <%= link_to post.user.name, user_path(post.user) %>
          </h5>
          <span class="action">A crée un
            <%= link_to 'post', post %></span>
        </div>

        <%= render 'shared/actions', resource: post %>
      </div>
      </div>
      <% end %>
    </div>
  </div>
</div>